﻿@model List<bms.Models.tagMaster_Prop>
@{
    ViewBag.Title = "AddTag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Category Master
        </h3>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Add Category
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Category Name</label>
                        <div class="controls">
                            <input type="text" name="catname" data-rule-required="true" placeholder="Category Name" class="input-xlarge" value="@Request["catname"]">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <a href="~/Master/CategoryMaster" class="btn btn-default"><i class="icon-reply"></i>&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{

}