﻿@model List<bms.Models.year_Prop>
@{
    ViewBag.Title = "AddTag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Years
        </h3>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="row-fluid">
            <div class="pull-right">
                <a href="~/Master/AddYear" class="btn btn-primary">&nbsp;<i class="icon-plus-sign"></i> Add New Year</a>
            </div>
        </div>
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Year
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th style="width: 10%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (bms.Models.year_Prop y in @Model)
                            {
                            <tr>
                                <td>@y.yname</td>
                                <td style="width: 10%;">
                                    @if (y.status == true)
                                    {
                                        <a id="@y.yid" class="btn btn-teal" name="status"><i class="icon-edit"></i>&nbsp;Active</a>   
                                    }
                                    else
                                    {
                                        <a id="@y.yid" class="btn btn-danger" name="status"><i class="icon-edit"></i>&nbsp;Deactive</a>
                                    }
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="statuschange" method="post" action="ChangeYearStatus">
    <input type="hidden" name="id" id="itemvalue" />
</form>
<div id="dltDlg" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px">
    <div class="modal-body">
        <div class="control-group form-horizontal">
            Are you sure you want to change status of this record?
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-red" value="OK" onclick="ChangeStatus()">
        <input type="button" class="btn btn-inverse" data-dismiss="modal" value="Cancel">
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $("[name='status']").click(function () {
            $("#dltDlg").modal('show');
            $("#itemvalue").val(this.id);
            return false;
        })
        function ChangeStatus() {
            $("#statuschange").submit();
        }
    </script>
}
