﻿@model bms.ViewModels.imageView
@{
    ViewBag.Title = "EditImage";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Image Inventory
        </h3>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Edit Image
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="imgid" value="@Model.imgid" />
                    <input type="hidden" name="status" value="@(Model.status==true ? "true":"false")" />
                    <input type="hidden" name="imginsertdate" value="@Model.imginsertdate" />

                    <div class="control-group">
                        <label for="textfield" class="control-label">Image Name</label>
                        <div class="controls">
                            <input type="text" name="imgname" data-rule-required="true" placeholder="Image Name" class="input-xlarge" value="@Model.imgname">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Image Description</label>
                        <div class="controls">
                            <textarea name="imgdetail" data-rule-required="true" placeholder="Image Description" class="input-xlarge">@Model.imgdetail</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Captured Date</label>
                        <div class="controls">
                            <input type="text" name="imgcaptureddate" placeholder="Captured Date" class="input-xlarge datepick" value="@Model.imgcaptureddate.ToString("MM/dd/yyyy")">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Event</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="Event" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (bms.Models.event_Prop i in new bms.Repository.eventRepo().GetAllRecords())
                                    {                                
                                        <option value="@i.eid" @(Model.ename == i.eid.ToString() ? "selected":"")>@i.ename</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Sport Person</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="SportPerson" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (bms.Models.sportperson_Prop i in new bms.Repository.sportperson().GetAllRecords())
                                    {                                
                                        <option value="@i.sid" @(Model.sname == i.sid.ToString() ? "selected":"")>@i.sname</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Tags</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="CategoryId" data-rule-required="true" class='chosen-select' multiple id="tagsvalue">
                                    <option></option>
                                    @foreach (bms.Models.tag_Prop i in new bms.Repository.tag().GetAllRecords())
                                    {                                
                                        <option value="@i.tid">@i.tname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="tags" name="Tags">
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Places</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="Places" data-rule-required="true" class='chosen-select'>
                                    <option></option>
                                    @foreach (bms.Models.places_Prop i in new bms.Repository.places().GetAllRecords())
                                    {                                
                                        <option value="@i.pid" @(Model.pname == i.pid.ToString() ? "selected":"")>@i.pname</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <a href="~/ImageInventory" class="btn btn-default"><i class="icon-reply"></i>&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $("#tagsvalue").change(function () {
            var vl = $("#tagsvalue").val();
            $("#tags").val(vl);
        });
    </script>
}
