﻿@model bms.Controllers.imagedata
@{
    ViewBag.Title = "EditImage";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Image Inventory
        </h3>
    </div>
</div>
<div class="box box-color box-bordered">
    <div class="box-title">
        <h3>
            <i class="icon-edit"></i>
            Image
        </h3>
    </div>
    <div class="box-content nopadding">
        <div class="span12">
            <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="controls">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                                <span class="btn btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="imagefile" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Read Data</button>
                </div>
            </form>
        </div>
        <div class="span12">
            <table class="table table-hover table-nomargin dataTable table-bordered">
                <tr>
                    <th style="width:20%">
                        Name of Image
                    </th>
                    <td>
                        @Model.imagename
                    </td>
                </tr>
                <tr>
                    <th style="width:20%">Width</th>
                    <td>@Model.width</td>
                </tr>
                <tr>
                    <th style="width:20%">Height</th>
                    <td>@Model.height</td>
                </tr>
                <tr>
                    <th style="width:20%">Captured Date</th>
                    <td>@Model.datetaken</td>
                </tr>
                <tr>
                    <th style="width:20%">Camere</th>
                    <td>@Model.camera</td>
                </tr>
                <tr>
                    <th style="width:20%">Camere Model</th>
                    <td>@Model.cameraModel</td>
                </tr>
                <tr>
                    <th style="width:20%">Tags</th>
                    <td>@Model.tags</td>
                </tr>
                <tr>
                    <th style="width:20%">Author</th>
                    <td>@Model.author</td>
                </tr>
            </table>
        </div>
    </div>
</div>
