﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <form method="post">
        <fieldset>
            @if (MySession.Current.MESSAGE != string.Empty)
            {
                <ol>
                    <li>
                        <strong style="color:red">@MySession.Current.MESSAGE </strong>
                    </li>
                </ol>
                MySession.Current.MESSAGE = string.Empty;
            }
            <legend>Log in Form</legend>
            <ol>
                <li>Current Password
                <br />
                    <input type="password" name="oldpass" required />
                </li>
                <li>New Password
                <br />
                    <input type="password" name="newpass" required />
                </li>
                <li>Re Enter New Password
                <br />
                    <input type="password" name="repassword" required />
                </li>
            </ol>
            <input type="submit" value="Change My Password" />
        </fieldset>
</form>
    </section>
