﻿@{
    ViewBag.Title = "ExternalLoginCallback";
}
<hgroup class="title">
    <h2>Create a new account.</h2>
</hgroup>
<form method="post" name="userForm" novalidate data-ng-submit="submitForm(userForm.$valid)" id="userform" data-ng-controller="ExternalController">
    <fieldset>
        <legend>Registration Form</legend>
        @if (MySession.Current.MESSAGE != string.Empty)
        {
         <ol>
             <li>
                 <strong>@MySession.Current.MESSAGE </strong>
             </li>
         </ol>
         MySession.Current.MESSAGE = string.Empty;
        }
        <ol>
            <li>User Name
                <br />
                <input type="text" name="UserName" value="@(ViewBag.fbemail)" readonly="readonly" />
            </li>
            <li>Password
                <br />
                <input type="password" name="Password" />
            </li>
        </ol>
        <hr />
        <ol>
            <li>First Name
                <br />
                <input type="text" name="upfname" value="@(ViewBag.fbfname)"/>
            </li>
            <li>Last Name
                <br />
                <input type="text" name="uplname" value="@(ViewBag.fblname)"/>
            </li>
            <li>Date of Birth
                <br />
                <input type="date" name="updob" />
            </li>
            <li>Gender
               <br />
                <select name="upgender">
                    <option value="0"></option>
                    <option value="1">Male</option>
                    <option value="2">FeMale</option>
                </select>
            </li>
            <li>Mobile No.
                <br />
                <input type="text" name="upcontact" />
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
