﻿@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <form method="post">
        <fieldset>
            @if (MySession.Current.MESSAGE != string.Empty)
            {
                <ol>
                    <li>
                        <strong style="color:red">@MySession.Current.MESSAGE </strong>
                    </li>
                </ol>
                MySession.Current.MESSAGE = string.Empty;
            }
            <legend>Forgot Password</legend>
            <ol>
                <li>
                 Enter your username
                <br />
                    <input type="text" name="username" required />
                </li>
            </ol>
            <input type="submit" value="Reset My Password" />
        </fieldset>
</form>
    </section>