﻿@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
    <h2>Use a local account to log in.</h2>
    <form method="post" name="loginForm" id="lginfrm" data-ng-submit="submitForm(loginForm.$valid)" novalidate data-ng-controller="loginController">
        <fieldset>
            @if (MySession.Current.MESSAGE != string.Empty)
            {
                <ol>
                    <li>
                        <strong style="color: red">@MySession.Current.MESSAGE </strong>
                    </li>
                </ol>
                MySession.Current.MESSAGE = string.Empty;
            }
            <legend>Log in Form</legend>
            <ol>
                <li>UserName
                <br />
                    <div class="form-group" data-ng-class="{ 'has-error' : loginForm.UserName.$invalid && loginForm.UserName.$touched }">
                        <input type="text" name="UserName" value="@Request["UserName"]" data-ng-model="user.UserName" required/>
                        <span data-ng-show="loginForm.UserName.$invalid && loginForm.UserName.$touched" class="help-block" style="color: red;">Enter your username</span>
                    </div>
                </li>
                <li>Password
                <br />
                    <div class="form-group" data-ng-class="{ 'has-error' : loginForm.Password.$invalid && loginForm.Password.$touched }">
                        <input type="password" name="Password" value="@Request["Password"]" data-ng-model="user.Password"  required/>
                        <span data-ng-show="loginForm.Password.$invalid && loginForm.Password.$touched" class="help-block" style="color: red;">Enter your password</span>
                    </div>
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
         <p>
            <a href="~/Account/Forgot">Forgot Password</a>
        </p>
</section>
</form>
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    <div>
        @using (Html.BeginForm("ExternalLogin", "Account"))
        {
            <div>
                <fieldset>
                    <div style="margin: 10px auto;">
                        <input type="submit" value="Login With Facebook" class="styled-button" />
                    </div>
                </fieldset>
            </div>
        }
    </div>
</section>
@section Scripts {
      <script type="text/javascript">
         // create angular app
         var MyApp = angular.module('BookMySport', []);
         // create angular controller
         MyApp.controller('loginController', function ($scope) {
             // function to submit the form after all validation has occurred			
             $scope.submitForm = function () {
                 // check to make sure the form is completely valid
                 if ($scope.loginForm.$valid)
                 {
                     $("#lginfrm").submit();
                 }
             };
         });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
