﻿@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

<form method="post" name="userForm" novalidate data-ng-submit="submitForm(userForm.$valid)" id="userform" data-ng-controller="mainController">
    <fieldset>
        <legend>Registration Form</legend>
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <ol>
                <li>
                    <strong style="color: red">@MySession.Current.MESSAGE </strong>
                </li>
            </ol>
            MySession.Current.MESSAGE = string.Empty;
        }
        <ol>
            <li>Email (used as username)
                <br />
                <div class="form-group" data-ng-class="{ 'has-error' : userForm.UserName.$invalid && !userForm.UserName.$pristine && userForm.Password.$touched}">
                    <input type="email" name="UserName" data-ng-model="UserName" required />
                    <span data-ng-show="userForm.UserName.$invalid && !userForm.UserName.$pristine && userForm.Password.$touched" class="help-block" style="color: red;">Enter a valid email.</span>
                </div>
            </li>
            <li>Password
                <br />
                <div class="form-group" data-ng-class="{ 'has-error' : userForm.Password.$invalid && userForm.Password.$touched }">
                    <input type="password" name="Password" data-ng-model="Password" data-ng-minlength="6" required />
                    <span data-ng-show="userForm.Password.$invalid && userForm.Password.$touched" class="help-block" style="color: red;">Enter valid password</span>
                </div>
            </li>

        </ol>
        <ol>
            <li>First Name
                <br />
                <div class="form-group" data-ng-class="{ 'has-error' : userForm.upfname.$invalid && !userForm.upfname.$pristine }">
                    <input type="text" name="upfname" data-ng-model="upfname" required/>
                    <span data-ng-show="userForm.upfname.$invalid && userForm.upfname.$touched" class="help-block" style="color: red;">Enter your firstname</span>
                </div>
            </li>
            <li>Last Name
                <br />
                <div class="form-group" data-ng-class="{ 'has-error' : userForm.uplname.$invalid && !userForm.uplname.$pristine }">
                    <input type="text" name="uplname" data-ng-model="uplname" required/>
                    <span data-ng-show="userForm.uplname.$invalid && userForm.uplname.$touched" class="help-block" style="color: red;">Enter your lastname</span>
                </div>
            </li>
            <li>Date of Birth (mm/dd/yyyy)
                <br />
                <input type="text" name="updob" id="datepicker" value="@Request["updob"]"/>
            </li>
            <li>Gender
               <br />
                <select name="upgender">
                    <option value="0"></option>
                    <option value="1">Male</option>
                    <option value="2">FeMale</option>
                </select>
            </li>
            <li>Mobile No.
                <br />
                <input type="text" name="upcontact" value="@Request["upcontact"]"/>
            </li>

            <li>
                <div class="g-recaptcha" data-sitekey="6LdrxgwTAAAAAHO1knu2CKjiuB-Sn-JfuDKMzOdx"></div>
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
</form>

@section Scripts
{
     <script type="text/javascript">
         // create angular app
         var MyApp = angular.module('BookMySport', []);
         // create angular controller
         MyApp.controller('mainController', function ($scope)
         {

             $scope.UserName = '@Request["UserName"]';
             $scope.uplname = '@Request["uplname"]';
             $scope.upfname = '@Request["upfname"]';

             // function to submit the form after all validation has occurred			
             $scope.submitForm = function () {
                 // check to make sure the form is completely valid
                 if ($scope.userForm.$valid) {
                     $("#userform").submit();
                 }
             };
         });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                maxDate: "+0"
            });
        });
    </script>
}
