﻿@model bms.Models.products
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Add New Product
        </h3>
    </div>
</div>
@if (MySession.Current.MESSAGE != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong>@MySession.Current.MESSAGE </strong>
    </div>
    MySession.Current.MESSAGE = string.Empty;
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Add Product
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" action="~/Product/AddProduct" enctype="multipart/form-data">
                    <input type="hidden" name="productid" value="@Model.productid" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">Product Name</label>
                        <div class="controls">
                            <input type="text" name="productname" data-rule-required="true" placeholder="product name" class="input-xlarge" value="@Model.productname">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Select Category</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="category" class="chosen-select" required>
                                    <option value="">--select category--</option>
                                    @foreach (bms.Models.productcategory cat in (List<bms.Models.productcategory>)Session["CatLstActive"])
                                    {
                                        <option value="@cat.productcatid" @(Model.catid == cat.productcatid ? "selected" : "")>@cat.productcatname</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Tags</label>
                        <div class="controls">
                            <div class="input-xlarge">
                                <select name="tags[]" id="a" multiple="multiple" class="chosen-select input-xlarge">
                                    @{
                                        string tg = string.Empty;
                                        foreach (int s in Model.tagslst)
                                        {
                                            tg += s + ",";
                                        }
                                        tg = tg.TrimEnd(',');
                                        foreach (bms.Models.producttags tag in (List<bms.Models.producttags>)Session["TagLst"])
                                        {
                                            <option value="@tag.tagid" @(tg.Contains(tag.tagid.ToString()) ? "selected" : "")>@tag.tagname</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Short Description</label>
                        <div class="controls">
                            <textarea data-rule-required="true" class="input-xxlarge" name="productshortdesc">@Model.productshortdesc</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Long Description</label>
                        <div class="controls">
                            <textarea data-rule-required="true" class="input-xxlarge" style="height:250px" name="productdesc">@Model.productdesc</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <button type="button" class="btn" onclick="history.go(-1);"><i class="icon-remove"></i>&nbsp;Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        jQuery(function ($) {

            $('#target').Jcrop({
                onChange: showCoords,
                onSelect: showCoords
            });
            function showCoords(c) {
                alert('x=' + c.x + ' y=' + c.y + ' x2=' + c.x2 + ' y2=' + x.y2)
                alert('w=' + c.w + ' h=' + c.h)
            };

        });
    </script>
}