﻿@model List<bms.Models.productcategory>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Product Categories
        </h3>
    </div>
</div>

@if (MySession.Current.MESSAGE != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong>@MySession.Current.MESSAGE </strong>
    </div>
    MySession.Current.MESSAGE = string.Empty;
}
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Categories
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>CATEGORY</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (bms.Models.productcategory p in @Model)
                            {
                                <tr>
                                    <td>@p.productcatname</td>

                                    @if (p.catstatus == true)
                                    {
                                        <td> <label class="label label-green" onclick="chngsts(this.id)" id="@p.productcatid">active</label></td>
                                    }
                                    else
                                    {
                                        <td> <label class="label label-red" onclick="chngsts(this.id)" id="@p.productcatid">inactive</label></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="span6">

        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Add Category
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" action="~/Product/AddCategory">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Category Name</label>
                        <div class="controls">
                            <input type="text" name="productcatname" data-rule-required="true" placeholder="Category Name" class="input-xlarge" value="@Request["productcatname"]">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Status</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="catstatus" class="chosen-select">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function chngsts(id) {
            $.ajax({
                type: "POST",
                data: "&id=" + id,
                url: "@Url.Action("ChangeCatSts","Product")",
                success: function (resp) {
                    if (resp > 0) {
                        window.location = "Category";
                    }
                }
            })
        }
    </script>
}