﻿@model List<bms.ViewModels.ProductsViewModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Products
        </h3>
        <div class="pull-right">
            <a href="~/Product/AddProduct" class="btn btn-primary"><i class="icon-plus-sign"></i> Add Product</a>
        </div>
    </div>
</div>
@if (MySession.Current.MESSAGE != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong>@MySession.Current.MESSAGE </strong>
    </div>
    MySession.Current.MESSAGE = string.Empty;
}
<br />
<div class="row-fluid">
    <div class="span12">
        <div class="span3">
            <div class="controls">
                Category
                <div class="input-xlarge">
                    @*onchange="fltCategory(this.id)"*@
                    <select name="category" class="chosen-select" id="category">
                        <option value="">--all categories--</option>
                        @foreach (bms.Models.productcategory cat in (List<bms.Models.productcategory>)Session["CatLst"])
                        {
                            <option value="@cat.productcatid" @(ViewBag.cateid == cat.productcatid ? "selected" : "")>@cat.productcatname</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        @*<div class="span3">
                <div class="controls">
                    Tag
                    <div class="input-xlarge">
                        <select name="category" class="chosen-select" id="tags">
                            <option value="">--all tags--</option>
                            @foreach (bms.Models.producttags prp in (List<bms.Models.producttags>)Session["PTags"])
                            {
                                <option value="@prp.tagid" @(ViewBag.tagid == prp.tagid ? "selected" : "")>@prp.tagname</option>
                            }
                        </select>
                    </div>
                </div>
            </div>*@
        <div class="span3">
            <div class="controls">
                Product
                <div class="input-xlarge">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="productname" id="prdctid" data-rule-required="true" placeholder="search product" class="input-xlarge" value="@ViewBag.product">
                        </div>
                    </div>
                    @*<select name="products" class="chosen-select" onchange="fltProduct(this.id)" id="product">
                            <option value="">--all products--</option>
                            @foreach (bms.Models.products p in (List<bms.Models.products>)Session["Products"])
                            {
                                <option value="@p.productid" @(ViewBag.productid == p.productid ? "selected" : "")>@p.productname</option>
                            }
                        </select>*@
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-green" id="btnOK">Load</button>
            <button class="btn btn-red" id="btnClear">clear filters</button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Products
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered">
                    <thead>
                        <tr>
                            @*<th><a href="#" name="sort" id="productname"> PRODUCT</a></th>*@
                            <th>PRODUCT</th>
                            <th>CATEGORY</th>
                            <th>SHORT DESC</th>
                            <th width="10%">IMAGES</th>
                            <th width="15%">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (bms.ViewModels.ProductsViewModel p in @Model)
                            {
                                <tr>
                                    <td>@p.productname</td>
                                    <td>@p.productcatname</td>
                                    <td>@p.productshortdesc</td>
                                    <td>
                                        <a href="~/Product/ProductImgs/@p.productid" class="btn btn-primary"><i class="icon-upload"> images</i></a>
                                    </td>
                                    <td>
                                        <a href="~/Product/ViewProduct/@p.productid" class="btn btn-orange"><i class="icon-edit"> edit</i></a>
                                        <button onclick="btnDlt(this.id)" id="@p.productid" class="btn btn-red"><i class="icon-remove"> remove</i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tr>
                        <td colspan="5">
                            <div id="pagger" class="pull-right"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<form action="~/Product" method="post" id="form_paging" name="form_paging">
    <input type="hidden" name="pageno" value="@ViewBag.pageNo" id="pgnbr" />
    <input type="hidden" name="sort" id="id_sort" />
    <input type="hidden" name="category" id="id_cat" value="@ViewBag.cateid" />
    <input type="hidden" name="tag" id="id_tag" value="@ViewBag.tagid" />
    <input type="hidden" name="product" id="id_prdct" value="@ViewBag.product" />
</form>
@section scripts{
    <script type="text/javascript">
        window.onload = paglod();
        function paglod() {
            $("#pagger").pagination({
                items: @ViewBag.TotalRec,
                itemsOnPage: @ViewBag.pageSize,
                cssStyle: 'dark-theme',
                onPageClick: pageclick,
                currentPage: @ViewBag.pageNo
                });

        }
        function pageclick(pageNumber, event) {
            $("#pgnbr").val(pageNumber);
            document.form_paging.submit();
        }
        $('[name="sort"]').click(function(){
            $("#id_sort").val(this.id);
            document.form_paging.submit();
        })
        //function fltCategory(id){
        //    var v=$("#category").val();
        //    $("#id_cat").val(v);
        //    document.form_paging.submit();
        //}
        //function fltProduct(id){
        //    var v=$("#product").val();
        //    $("#id_prdct").val(v);
        //    document.form_paging.submit();
        //}
        $("#btnOK").click(function(){
            var prdct=$("#prdctid").val();
            var cat=$("#category").val();
            var tag=$("#tags").val();
            $("#id_cat").val(cat);
            $("#id_prdct").val(prdct);
            $("#id_tag").val(tag);
            document.form_paging.submit();
        })
        $("#btnClear").click(function(){
            $("#id_cat").val("");
            $("#id_prdct").val("");
            $("#id_tag").val("");
            document.form_paging.submit();
        })
        function btnEdit(id){

        }
        function btnDlt(id){
            $.ajax({
                data: "&id=" + id,
                type: "POST",
                url: "@Url.Action("DltProduct", "Product")",
                success: function (resp) {
                    window.location = "Product";
                }
            })
        }
    </script>
}
