﻿@model List<bms.Models.productimages>
@{
    ViewBag.Title = "Product Images";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles
    {
    @* <link href="~/Uploader/Bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Uploader/Bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Uploader/Bootstrap/bootstrap-image-gallery.min.css" rel="stylesheet" />
    <link href="~/Uploader/FileUpload/jquery.fileupload-ui.css" rel="stylesheet" />
}
@section scripts
    {
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Uploader/FileUpload/tmpl.min.js"></script>
    <script src="~/Uploader/FileUpload/canvas-to-blob.min.js"></script>
    <script src="~/Uploader/FileUpload/load-image.min.js"></script>
    <script src="~/Uploader/Bootstrap/bootstrap-image-gallery.min.js"></script>
    <script src="~/Uploader/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Uploader/FileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Uploader/FileUpload/jquery.fileupload.js"></script>
    <script src="~/Uploader/FileUpload/jquery.fileupload-ip.js"></script>
    <script src="~/Uploader/FileUpload/jquery.fileupload-ui.js"></script>
    <script src="~/Uploader/FileUpload/locale.js"></script>
    <script src="~/Uploader/FileUpload/main.js"></script>

    <script type="text/javascript">
        $("[name='btndelete']").click(function () {
            $("#imgid").val(this.id);
            $("#deleteform").submit();
        })
    </script>
}
<form method="post" action="~/Product/DeleteProductImage" id="deleteform">
    <input type="hidden" name="ImgId" id="imgid" />
</form>
@if (MySession.Current.MESSAGE != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong>@MySession.Current.MESSAGE </strong>
    </div>
    MySession.Current.MESSAGE = string.Empty;
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Product Images for "@ViewBag.Product"
        </h3>
    </div>
    <div class="box-content">
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                        @foreach (bms.Models.productimages res in Model)
                        {
                            <tr>
                                <td class="preview" style="width: 80px;">
                                    <a href="#" title="@res.productimgname">
                                        <img src="~/ProductImages/@res.productimgname" style=" width:100px;height:40px;">
                                    </a>
                                </td>
                                <td>@res.productimgname</td>
                                <td>
                                    <a class="btn btn-danger" href="javascript:void(0)" id="@res.productimgid" name="btndelete">
                                        <i class="icon-trash icon-white"></i>&nbsp;Delete
                                    </a>
                                </td>
                                <td>
                                    <div class="btn btn-success">
                                        <i class="glyphicon-ok_2"></i>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- The template to display files available for upload -->
                <script id="template-upload" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-upload fade">
                        <td class="preview"><span class="fade" style="width:100px;height:40px;"></span></td>
                        <td class="name"><span>{%=file.name%}</span></td>
                        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                        {% if (file.error) { %}
                        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                        {% } else if (o.files.valid && !i) { %}
                        <td>
                            <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                        </td>
                        <td class="start">
                            {% if (!o.options.autoUpload) { %}
                            <button class="btn btn-primary">
                                <i class="icon-upload icon-white"></i>
                                <span>{%=locale.fileupload.start%}</span>
                            </button>
                            {% } %}
                        </td>
                        {% } else { %}
                        <td colspan="2"></td>
                        {% } %}
                        <td class="cancel">
                            {% if (!i) { %}
                            <button class="btn btn-warning">
                                <i class="icon-ban-circle icon-white"></i>
                                <span>{%=locale.fileupload.cancel%}</span>
                            </button>
                            {% } %}
                        </td>
                    </tr>
                    {% } %}
                </script>
                <!-- The template to display files available for download -->

                <script id="template-download" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-download fade">
                        {% if (file.error) { %}
                        <td></td>
                        <td class="name"><span>{%=file.name%}</span></td>
                        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                        {% } else { %}
                        <td class="preview" style="width:80px;">
                            {% if (file.thumbnail_url) { %}
                            <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}" style="width:100px;height:40px;"></a>
                            {% } %}
                        </td>
                        <td class="name">
                            <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                        </td>
                        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                        <td colspan="2"></td>
                        {% } %}
                        <td class="delete">
                            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                                <i class="icon-trash icon-white"></i>
                                <span>{%=locale.fileupload.destroy%}</span>
                            </button>
                        </td>
                        {% if (file.resolutionstatus=="true") { %}
                        <td>
                            <div class="btn btn-success">
                                <i class="glyphicon-ok_2"></i>
                            </div>
                        </td>
                        {% } else { %}
                        <td>
                            <div class="btn btn-danger">
                                <i class="glyphicon-remove_2"></i>
                            </div>
                        </td>
                        {% } %}
                    </tr>
                    {% } %}
                </script>
                <form id="fileupload" action="/Upload/UploadHandler.ashx" method="POST" enctype="multipart/form-data">
                    <table class="table table-striped">
                        <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
                    </table>
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <input type="hidden" value="@ViewBag.PrdctId" name="IMAGEID" />
                    <input type="hidden" value="product" name="imgtype" />
                    <div class="row span12">
                        <div class="span7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="icon-plus icon-white"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            @*<button type="submit" class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Start upload</span>
                                </button>*@
                            @*<button type="reset" class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>Cancel upload</span>
                                </button>*@
                        </div>
                        <div class="span5">
                            <!-- The global progress bar -->
                            <div class="progress progress-success progress-striped active fade">
                                <div class="bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- The loading indicator is shown during image processing -->
                    <div class="fileupload-loading"></div>
                    <br>
                    <!-- The table listing the files available for upload/download -->
                </form>
            </div>
        </div>
    </div>
</div>
