﻿@model List<bms.Models.producttags>
@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            Product Tags
        </h3>
    </div>
</div>
@if (MySession.Current.MESSAGE != string.Empty)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
        <strong>@MySession.Current.MESSAGE </strong>
    </div>
    MySession.Current.MESSAGE = string.Empty;
}

<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    Tags
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>CATEGORY</th>
                            <th width="1%">REMOVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (bms.Models.producttags p in @Model)
                            {
                                <tr>
                                    <td>@p.tagname</td>
                                    <td>
                                        <button onclick="btnDlt(this.id)" id="@p.tagid" class="btn btn-red"><i class="icon-remove"> remove</i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="span6">

        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Add Tag
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" action="~/Product/AddTag">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Tag Name</label>
                        <div class="controls">
                            <input type="text" name="tagname" data-rule-required="true" placeholder="Tag Name" class="input-xlarge" value="@Request["tagname"]">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function btnDlt(id) {
            $.ajax({
                data: "&id=" + id,
                type: "POST",
                url: "@Url.Action("DltCat", "Product")",
                success: function (resp) {
                    window.location = "Tag";
                }
            })
        }
    </script>
}
