﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Provider
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Provider Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" name="UserName" data-rule-required="true" placeholder="Email as username" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">FirstName</label>
                        <div class="controls">
                            <input type="text" name="upfname" placeholder="FirstName" class="input-xlarge" data-rule-required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">LastName</label>
                        <div class="controls">
                            <input type="text" name="uplname" placeholder="LastName" class="input-xlarge" data-rule-required="true">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Date of Birth</label>
                        <div class="controls">
                            <input type="text" name="updob" placeholder="Date of birth" class="input-xlarge datepick">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Gender</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="gender" data-rule-required="true" class='chosen-select'>
                                    <option value="0"></option>
                                    <option value="1">Male</option>
                                    <option value="2">FeMale</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Contact</label>
                        <div class="controls">
                            <input type="text" name="upcontact" placeholder="Contact" class="input-xlarge">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <a href="~/User/Provider" class="btn btn-default"><i class="icon-reply"></i>&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
}