﻿@model List<bms.Models.UserProfile_Prop>
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-list"></i>
            End User Managment
        </h3>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="span12">
        <div class="span3">
            <div class="controls">
                <div class="control-group">
                    <label for="textfield" class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" id="txtUname" data-rule-required="true" placeholder="username" class="input-xlarge" value="@ViewBag.uname">
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="controls">
                <div class="control-group">
                    <label for="textfield" class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" id="txtName" data-rule-required="true" placeholder="name" class="input-xlarge" value="@ViewBag.name">
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-green" id="btnOK">Load</button>
            <button class="btn btn-red" id="btnClear">clear filters</button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-list"></i>
                    End Users
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>CreatedDate</th>
                            <th>LastLogin</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (bms.Models.UserProfile_Prop up in @Model)
                            {
                                <tr>
                                    <td>@up.UserName</td>
                                    <td>@up.upfname @up.uplname</td>
                                    <td>@up.upcontact</td>
                                    <td>@up.CreateDate.ToString("MM/dd/yyyy")</td>
                                    <td>@up.LastLoginDate.ToString("MM/dd/yyyy")</td>
                                    <td style="text-align: center;">
                                        <a href="~/User/Profile/@up.upuserid" class="btn btn-primary"><i class="icon-user"></i>&nbsp;Profile</a>
                                    </td>
                                    @if (up.Status)
                                    {
                                        <td style="text-align: center;">
                                            <a id="@up.upuserid" class="btn btn-brown"><i class="icon-edit"></i>&nbsp;Active</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center;">
                                            <a id="@up.upuserid" class="btn btn-danger" name="status"><i class="icon-edit"></i>&nbsp;DeActive</a>
                                        </td>
                                    }
                                    <td style="text-align: center;">
                                        <a href="~/User/ResetPassword/@up.upuserid?type=c" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset Password</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tr>
                        <td colspan="8">
                            <div id="pagger" class="pull-right"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<form action="~/User/Clients" method="post" id="form_paging" name="form_paging">
    <input type="hidden" name="pageno" value="@ViewBag.pageNo" id="pgnbr" />
    <input type="hidden" name="username" value="@ViewBag.uname" id="id_uname" />
    <input type="hidden" name="name" value="@ViewBag.name" id="id_name" />
</form>
<form id="statuschange" method="post" action="ChangeStatus">
    <input type="hidden" name="id" id="itemvalue" />
    <input type="hidden" name="usertype" id="clients" />
</form>
<div id="dltDlg" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 500px">
    <div class="modal-body">
        <div class="control-group form-horizontal">
            Are you sure you want to change status of this record?
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-red" value="OK" onclick="ChangeStatus()">
        <input type="button" class="btn btn-inverse" data-dismiss="modal" value="Cancel">
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        window.onload = paglod();
        function paglod() {
            $("#pagger").pagination({
                items: @ViewBag.TotalRec,
                itemsOnPage: @ViewBag.pageSize,
                cssStyle: 'dark-theme',
                onPageClick: pageclick,
                currentPage: @ViewBag.pageNo
                });

        }
        function pageclick(pageNumber, event) {
            $("#pgnbr").val(pageNumber);
            document.form_paging.submit();
        }
        $("[name='status']").click(function () {
            $("#dltDlg").modal('show');
            $("#itemvalue").val(this.id);
            return false;
        })
        function ChangeStatus() {
            $("#statuschange").submit();
        }
        $("#btnOK").click(function(){
            var uname=$("#txtUname").val();
            $("#id_uname").val(uname);
            var name=$("#txtNname").val();
            $("#id_name").val(name);
            document.form_paging.submit();
        })
        $("#btnClear").click(function(){
            $("#id_uname").val("");
            $("#id_name").val("");
            document.form_paging.submit();
        })
    </script>
}
