﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Change Password
        </h3>
    </div>
</div>*@
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Change Password
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Current Password</label>
                        <div class="controls">
                            <input type="password" name="oldpass" data-rule-required="true" placeholder="Current Password" class="input-xlarge" value="@Request["oldpass"]">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">New Password</label>
                        <div class="controls">
                            <input type="password" name="newpass" placeholder="New Password" class="input-xlarge" value="@Request["newpass"]">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">ReEnter New Password</label>
                        <div class="controls">
                            <input type="password" name="repassword" placeholder="Reenter Password" class="input-xlarge" data-rule-required="true" value="@Request["repassword"]">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <a href="~/Admin/Dashboard" class="btn btn-default"><i class="icon-reply"></i>&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
   
}