﻿@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<div class="row-fluid">
    <div class="box">
        <div class="box-title">
            <h3>
                <i class="icon-asterisk"></i>
                MASTER MANAGMENT
            </h3>
            <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
        </div>
        <div class="box-content" style="display: block;">
            <div class="span12">
                <ul class="tiles">
                    <li class="darkblue small">
                        <a href="~/EmailAccount" rel="tooltip" data-placement="top" title="EMAIL ACCOUNT MANAGMENT">
                            <span class="count">
                                <i class="icon-reorder"></i>
                            </span>
                            <span class="name">Email Account</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Masters
        </h3>
        <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
    </div>
    <div class="box-content" style="display: block;">
        <ul class="tiles">
            <li class="orange small">
                <a href="~/Master/TagMaster" rel="tooltip" data-placement="top" title="TAG MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Tags</span>
                </a>
            </li>
            <li class="orange small">
                <a href="~/Master/PlaceMaster" rel="tooltip" data-placement="top" title="PLACE MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Places</span>
                </a>
            </li>
            @* <li class="orange small">
                    <a href="~/Master/YearMaster" rel="tooltip" data-placement="top" title="YEAR MASTER MANAGMENT">
                        <span class="count">
                           <i class="glyphicon-table"></i>
                        </span>
                        <span class="name">Year</span>
                    </a>
                </li>*@
            <li class="orange small">
                <a href="~/Master/EventMaster" rel="tooltip" data-placement="top" title="EVENT MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Events</span>
                </a>
            </li>
            <li class="orange small">
                <a href="~/Master/SportPerson" rel="tooltip" data-placement="top" title="SPORT PERSON NAME MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">SportPersons</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Users
        </h3>
        <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
    </div>
    <div class="box-content" style="display: block;">
        <ul class="tiles">
            <li class="teal small">
                <a href="~/User/Clients" rel="tooltip" data-placement="top" title="END USER MANAGMENT">
                    <span class="count">
                        <i class="icon-group"></i>
                    </span>
                    <span class="name">End Users</span>
                </a>
            </li>
            <li class="teal small">
                <a href="~/User/Provider" rel="tooltip" data-placement="top" title="PROVIDER USER MANAGMENT">
                    <span class="count">
                        <i class="icon-user"></i>
                    </span>
                    <span class="name">Provider</span>
                </a>
            </li>
            <li class="teal small">
                <a href="~/User/SeoManager" rel="tooltip" data-placement="top" title="SEO MANAGER MANAGMENT">
                    <span class="count">
                        <i class="icon-user"></i>
                    </span>
                    <span class="name">SeoManagers</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Products
        </h3>
        <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
    </div>
    <div class="box-content" style="display: block;">
        <ul class="tiles">
            <li class="orange small">
                <a href="~/Product/Category" rel="tooltip" data-placement="top" title="PRODUCT MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Product Category</span>
                </a>
            </li>
            <li class="orange small">
                <a href="~/Product/Tag" rel="tooltip" data-placement="top" title="PRODUCT MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Product Tags</span>
                </a>
            </li>
            <li class="orange small">
                <a href="~/Product" rel="tooltip" data-placement="top" title="PRODUCT MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Products</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Images
        </h3>
        <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
    </div>
    <div class="box-content" style="display: block;">
        <ul class="tiles">
            <li class="darkblue small">
                <a href="#" rel="tooltip" data-placement="top" title="PRODUCT MASTER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-table"></i>
                    </span>
                    <span class="name">Image Inventory</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Orders
        </h3>
        <div class="pull-right"><a href="#" class="btn btn-primary content-slideUp"><i class="icon-angle-down"></i></a></div>
    </div>
    <div class="box-content" style="display: block;">
        <ul class="tiles">
            <li class="green small">
                <a href="#" rel="tooltip" data-placement="top" title="ORDER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-cart_in"></i>
                    </span>
                    <span class="name">New Orders</span>
                </a>
            </li>
            <li class="green small">
                <a href="#" rel="tooltip" data-placement="top" title="ORDER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-cart_in"></i>
                    </span>
                    <span class="name">Product Orders</span>
                </a>
            </li>
            <li class="green small">
                <a href="#" rel="tooltip" data-placement="top" title="ORDER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-cart_in"></i>
                    </span>
                    <span class="name">Images Orders</span>
                </a>
            </li>
            <li class="green small">
                <a href="#" rel="tooltip" data-placement="top" title="ORDER MANAGMENT">
                    <span class="count">
                        <i class="glyphicon-cart_in"></i>
                    </span>
                    <span class="name">All Orders</span>
                </a>
            </li>
        </ul>
    </div>
</div>