﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>BMS-ADMIN</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap-responsive.min.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/Assets/css/themes.css">
    <!-- jQuery -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="~/Assets/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- Validation -->
    <script src="~/Assets/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/Assets/js/plugins/validation/additional-methods.min.js"></script>
    <!-- icheck -->
    <script src="~/Assets/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/eakroko.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets/img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="~/Assets/img/apple-touch-icon-precomposed.png" />
</head>

<body class='login theme-darkblue'>
    <div class=" wrapper">
        <div class="login-body" id="login" style="border: 2px solid black;">
            <form method="post" class='form-validate' id="test">
                <h2><i class="icon-lock"></i>&nbsp; FORGOT PASSWORD</h2>
                @if (MySession.Current.MESSAGE != string.Empty)
                {
                    <div class="alert success" style="border:1px solid green">
                        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                        <label style="font-weight:bold;color:green"><i class="icon-ok-circle"></i>&nbsp;@MySession.Current.MESSAGE;</label>
                    </div>
                    MySession.Current.MESSAGE = string.Empty;
                }
                <div class="control-group">
                    <label for="textfield" class="control-label">Enter your username</label>
                    <div class="email controls">
                        <input type="text" name='username' placeholder="Username" class='input-block-level' data-rule-required="true">
                    </div>
                </div>
                <div class="pull-right">
                    <div class="submit">
                        <button type="submit" class='btn btn-primary'><i class="icon-signin"></i> &nbsp;Reset Password</button>
                    </div>
                </div>
                <br />
            </form>
            <div class="forget">
                <a href="~/Admin" id="lnkforget"><span>Back To Login</span></a>
            </div>
        </div>
    </div>
</body>
</html>
