﻿@if (Request.IsAuthenticated)
{
    <text>
Hello,
    @if (User.IsInRole("provider"))
    {
        <a href="~/Account/MyProfile">@MySession.Current.LOGINUSER</a>
        <a href="~/Provider/DashBoard" target="_blank">Provider DashBoard</a>    
    }
    else if (User.IsInRole("seomanager"))
    {
        <a href="~/Account/MyProfile">@MySession.Current.LOGINUSER</a>
        <a href="~/Provider/DashBoard" target="_blank">Provider DashBoard</a>    
    }
    else if (User.IsInRole("administrator"))
    {
        <a href="#">Administrator</a>
        <a href="~/Admin/DashBoard" target="_blank">Administrator DashBoard</a>    
    }
    else
    {
        <a href="~/Account/MyProfile">@MySession.Current.LOGINUSER</a>
        <a href="~/Account/ChangePassword">Change Password</a>
    }
    <a href="~/Account/LogOff">Log off</a>

    </text>
    <br />
    <br />
    <text>
    <a href="~/Cart/MyOrders">My Orders</a>
    <a href="~/Cart/MyCart">My Cart</a>
    </text>
}
else
{
    <ul>
        <li><a href="~/Account/Login">LogIn</a></li>
        <li><a href="~/Account/Register">Register</a></li>
    </ul>
}
