﻿<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>BMS-PROVIDER</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap-responsive.min.css">

    <link href="~/Assets/css/plugins/jquery-ui/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css" rel="stylesheet" />

    <!-- Notify -->
    <link rel="stylesheet" href="~/Assets/css/plugins/gritter/jquery.gritter.css">
    <!-- PageGuide -->
    <link rel="stylesheet" href="~/Assets/css/plugins/pageguide/pageguide.css" />
    <!-- icheck -->
    <link href="~/Assets/css/plugins/icheck/all.css" rel="stylesheet" />
    <!-- chosen -->
    <link rel="stylesheet" href="~/Assets/css/plugins/chosen/chosen.css" />
    <!-- Datepicker -->
    <link rel="stylesheet" href="~/Assets/css/plugins/datepicker/datepicker.css" />
    <!-- select2 -->
    <link rel="stylesheet" href="~/Assets/css/plugins/select2/select2.css">
    <!-- Plupload -->
	<link rel="stylesheet" href="~/Assets/css/plugins/plupload/jquery.plupload.queue.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="~/Assets/css/themes.css">

    <!--Angular js-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="~/Scripts/angular-file-upload-shim.js"></script>
    <script src="~/Scripts/angular-file-upload.js"></script>

    @RenderSection("styles", required: false)
    <link href="~/Assets/css/simplePagination.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="~/Assets/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- imagesLoaded -->
    <script src="~/Assets/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- jQuery UI -->

    <script src="~/Assets/js/plugins/jquery-ui/jquery.ui.datepicker.min.js"></script>
    <script src="~/Assets/js/plugins/jquery-ui/jquery.ui.spinner.js"></script>
    <script src="~/Assets/js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
    <!-- slimScroll -->
    <script src="~/Assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Bootbox -->
    <script src="~/Assets/js/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- Bootbox -->
    <script src="~/Assets/js/plugins/form/jquery.form.min.js"></script>
    <!-- Notify -->
    <script src="~/Assets/js/plugins/gritter/jquery.gritter.min.js"></script>
    <!-- XEditable -->
    <script src="~/Assets/js/plugins/momentjs/jquery.moment.js"></script>
    <script src="~/Assets/js/plugins/mockjax/jquery.mockjax.js"></script>
    <script src="~/Assets/js/plugins/xeditable/bootstrap-editable.min.js"></script>
    <script src="~/Assets/js/plugins/xeditable/demo.js"></script>
    <script src="~/Assets/js/plugins/xeditable/address.js"></script>
    <!-- Validation -->
    <script src="~/Assets/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/Assets/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
    <script src="~/Assets/js/plugins/validation/additional-methods.min.js"></script>
    <!-- PageGuide -->
    <script src="~/Assets/js/plugins/pageguide/jquery.pageguide.js"></script>
    <!-- select2 -->
    <script src="~/Assets/js/plugins/select2/select2.min.js"></script>

    <!-- dataTables -->
    <script src="~/Assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/plugins/datatable/TableTools.min.js"></script>
    <script src="~/Assets/js/plugins/datatable/ColReorder.min.js"></script>
    <script src="~/Assets/js/plugins/datatable/ColVis.min.js"></script>
    <script src="~/Assets/js/plugins/datatable/jquery.dataTables.columnFilter.js"></script>
    <script src="~/Assets/js/plugins/datatable/jquery.dataTables.grouping.js"></script>
    <!-- Chosen -->
    <script src="~/Assets/js/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- Datepicker -->
    <script src="~/Assets/js/plugins/datepicker/bootstrap-datepicker.js"></script>
     <!-- CKEditor -->
    <script src="~/Assets/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Custom file upload -->
	<script src="~/Assetsjs/plugins/fileupload/bootstrap-fileupload.min.js"></script>
	<script src="~/Assetsjs/plugins/mockjax/jquery.mockjax.js"></script>
    <!-- Form -->
    <script src="~/Assets/js/plugins/form/jquery.form.min.js"></script>
    <!-- Wizard -->
    <script src="~/Assets/js/plugins/wizard/jquery.form.wizard.min.js"></script>
    <script src="~/Assets/js/plugins/mockjax/jquery.mockjax.js"></script>
    <script src="~/Assets/js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Theme framework -->
    <script src="~/Assets/js/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="~/Assets/js/application.min.js"></script>
    <!-- Just for demonstration -->
    <script src="~/Assets/js/demonstration.min.js"></script>
    <script src="~/Assets/js/jquery.simplePagination.js"></script>
    <!--Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />
    <link href="~/Assets/css/Print.css" rel="stylesheet" />

</head>
<body class="theme-teal" data-ng-app="app">
    <div id="navigation" class="navbar-fixed-top">
        <div class="container-fluid">
            <a href="~/Admin/DashBoard" id="brand">BMS-PROVIDER</a>
            <ul class='main-nav'>
                <li>
                    <a href="~/Provider/DashBoard">
                        <span><i class="icon-dashboard"></i>&nbsp;DashBoard</span>
                    </a>
                </li>
                 <li>
                    <a href="~/ImageInventory">
                        <span><i class="icon-reorder"></i>&nbsp;Image Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="~/ImageInventory/Test">
                        <span><i class="icon-dashboard"></i>&nbsp;Test Image Data Read</span>
                    </a>
                </li>
            </ul>
            <div class="user">
                <div class="dropdown">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                       @MySession.Current.LOGINUSER&nbsp;<i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="~/Provider/ChangePassword"><i class="icon-key"></i>&nbsp; Change Password</a>
                        </li>
                         <li>
                            <a href="~/Provider/MyProfile"><i class="icon-user"></i>&nbsp; My Profile</a>
                        </li>
                        <li>
                            <a href="~/Provider/SignOut"><i class="icon-signout"></i>&nbsp; Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid nav-fixed" id="content">
        <div id="left">
            @RenderSection("leftpan", required: false)
        </div>
        <div id="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>