﻿@model bms.Models.UserProfile_Prop
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
<div class="box">
    <div class="box-title">
        <h3>
            <i class="icon-asterisk"></i>
            Provider Managment
        </h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @if (MySession.Current.MESSAGE != string.Empty)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert"><i class="glyphicon-circle_remove"></i></button>
                <strong>@MySession.Current.MESSAGE </strong>
            </div>
            MySession.Current.MESSAGE = string.Empty;
        }
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Provider Add
                </h3>
            </div>
            <div class="box-content nopadding">
                <form method="POST" class='form-horizontal form-column form-bordered form-validate' id="bb" enctype="multipart/form-data">
                    <input type="hidden" name="upid" value="@Model.upid" />
                    <input type="hidden" name="upuserid" value="@Model.upuserid" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">FirstName</label>
                        <div class="controls">
                            <input type="text" name="upfname" placeholder="Provider FirstName" class="input-xlarge" value="@Model.upfname">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">LastName</label>
                        <div class="controls">
                            <input type="text" name="uplname" placeholder="Provider LastName" class="input-xlarge" value="@Model.uplname">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Date of Birth</label>
                        <div class="controls">
                            <input type="text" name="updob" placeholder="Date of Birth" class="input-xlarge datepick" value="@(Model.updob == null ? "" : Model.updob.Value.ToString("MM/dd/yyyy"))">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Gender</label>
                        <div class="controls">
                            <div class="input-medium">
                                <select name="upgender" data-rule-required="true" class='chosen-select'>
                                    <option value="0"></option>
                                    <option value="1" @(Model.upgender == 1 ? "selected" : "")>Male</option>
                                    <option value="2" @(Model.upgender == 2 ? "selected" : "")>FeMale</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">Contact</label>
                        <div class="controls">
                            <input type="text" name="upcontact" placeholder="Contact" class="input-xlarge" data-rule-required="true" value="@Model.upcontact">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="glyphicon-circle_ok"></i>&nbsp;Save</button>
                        <a href="~/Provider/DashBoard" class="btn btn-default"><i class="icon-reply"></i>&nbsp;Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
}